* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #F6F6F6;
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    top: 0;
    font-size: 1.5rem;
    padding: 0.5rem;

}
ul {
    padding: 0;
}

.logo {
    display: block;
    text-align: center;
    color: #FF5555;

    text-decoration: none;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

#search {
    border: 2px solid #FF5555;

    position: relative;
    height: 1.25rem;
    margin: auto;
    border-radius: 3px;
    padding: 0.5rem;
    background-color: white;
    
}

#searchinput {
    border: none;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: 16px;
}

#searchButton {
    color: #FF5555;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    cursor: pointer;
}

#advanced {
    margin-top: 1rem;
}

#barcodeButton {
    background-color: white;

    border: none;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin-right: 0.5rem;
    cursor: pointer;
}

#barcodePanel {
    background-color: white;
    border: none;

    text-align: center;
    margin-top: 1rem;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#barcodeSearchButton {
    margin-top: 1.5rem;
}
.closeText {
    margin: 0.25rem;
}

#barcodePanel div {
    font-size: 16px;

    margin: 0.5rem;
}
#barcodePanel button {
    background-color: #FF5555;
    border: none;
    color: white;

    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
#barcodePanel button.greyout {
    background-color: lightgrey;
    cursor: default;
}

.barcodeUploadWrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
    padding: 1rem;
}
#barcodeUpload {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#barcodeInput {
    border: 2px solid #FF5555;
    border-radius: 4px;
    font-size: 18px;
    height: 1.25rem;
    width: 70%;
    padding: 0.5rem;
    text-align: center;
}


#filterButton {
    background-color: #FF5555;

    border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#filterPanel {

    background-color: #FF5555;
    border: none;
    margin-top: 1rem;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#closeFilter {
    color: white;

}

#buttonDiv {
    text-align: center;
}

.filterTitle {

    color: white;
    font-weight: bold;
    margin-top: 1rem;
}

.cell {
    color: white;
    padding: 0.5rem;
    text-align: left;
    cursor: pointer;
}

#filterSearchButton {

    background-color: white;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.list {
    margin:1rem;
    padding: 1rem;
    background-color: white;
    overflow: hidden;
    height: auto;
}
.list li {
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
}
.list li:hover {
    background-color: #FF5555;
}
.list a {
    text-decoration: none;
    color: black;
}
.list a:hover {
    color: white;
}
@media (max-width: 500px) {
    #mainPageCard, .list, .list ul, .list li, .list a, .list img {
        width: 100%;
        box-sizing: border-box;
    }
}

.productname {

    font-size: large;
}

#product {
    background-color: white;
}

.producthead {
    width: 100%;
    overflow: hidden;
}

.producthead img {
    width: 30%;
}

.producthead > div {
    float: right;
    width: 70%;
}

#comments {
    position: relative;
}

#comments .inputbox {
    margin-right: 3rem;
}

#comments textarea {
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
}

#comments .button {
    position: absolute;

    right: 0;
    padding: 1rem;
    height: 3rem;
    background-color: #FF5555;
    color: white;
    box-sizing: border-box;
}

#commentlist {
    padding-left: 0.5rem;
}

#commentlist ul {
    margin-left: 1.5rem;
    border-left: 0.25rem solid lightgrey;
    padding-left: 1.5rem;
}

#commentlist li {
    list-style-type: none;
    overflow: hidden;
}

#commentlist .avatar {
    width: 2.5rem;
    height: 100%;
    font-size: 2rem;
    color: darkgrey;
    float: left;
}

.mainPageTable {
    width: 100%;
    height: auto;
    background-color: white;
    text-align: center;
}

.cardTitle {
    text-align: left;
    font-size: 20px;
    font-weight: bold;

    padding: 0.5rem;
}

.cardImage:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

#closeBarcode {
    color: #FF5555;
}

.panelTitle {
    color: white;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 1rem;
    text-transform: uppercase;
}

.customSelect {
    position: relative;
    width: 100%;
}

.customSelect select {
    display: none;
    /*hide original SELECT element:*/
}
.customSelect span {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: transparent;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: transparent;
}

/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 0.5rem;
    /*
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
*/
    cursor: pointer;
}

/*style items (options):*/

.select-items {
    position: absolute;
    background-color: #FF5555;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.selections {
    margin: 0.5rem;
}

.container {
    color: white;
    background: transparent;
    border: none;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/*
.container span{
    display: none;
}
*/

.checkmark {
    position: absolute;
    top: 25%;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: transparent;
}

.container input:checked ~ .checkmark {
    background-color: #c43c3c;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 25%;
    top: 0%;
    width: 0.3rem;
    height: 0.6rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container .radiomark:after {
    top: 30%;
    left: 30%;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: white;
}

.radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .radiomark {
    background-color: #ccc;
}

.container input:checked ~ .radiomark {
    background-color: #c43c3c;
}

.radiomark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .radiomark:after {
    display: block;
}

.mainPageCard {
    background-color: white;
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;

    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}
.regular-radio {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.regular-radio:checked:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.regular-radio:checked {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid red;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio:active, .regular-radio:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover, .ui-button:hover {
    border: none;
    font-weight: normal;
    color: #ffffff;
    background-color: #FF5555;
}
.ui-icon-background, .ui-state-active .ui-icon-background{
    border: #444444;
    background-color: #ffffff;
}
.productPageCard {
    background-color: white;
    padding: 1rem;
    margin-top: 3rem;

    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}
div.list ul li{
    width: 33%;
    display: inline-block;
    text-overflow: ellipsis;
}
div.list ul li div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.list ul li span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.list ul{
    width: inherit;
}
