body {
    background-color: #F6F6F6;
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    top: 0;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-family: Roboto;
}

.logo {
    text-align: center;
    color: #FF5555;
    font-family: Roboto;
}

#search {
    border: 2px solid #FF5555;
    font-family: Roboto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 1.25rem;
    margin: auto;
    border-radius: 3px;
    padding: 0.5rem;
    background-color: white;
    
}

#searchinput {
    border: none;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: Roboto;
    font-size: 16px;
}

#searchButton {
    color: #FF5555;
    margin-right: 0.5rem;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    font-family: Roboto;
}

#advanced {
    margin-top: 1rem;
}

#barcodeButton {
    background-color: white;
    font-family: Roboto;
    border: none;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin-right: 0.5rem;
    cursor: pointer;
}

#barcodePanel {
    background-color: white;
    border: none;
    font-family: Roboto;
    text-align: center;
    margin-top: 1rem;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.closeText {
    margin: 0.25rem;
}

#barcodeInstruction {
    color: #FF5555;
    font-size: 16px;
    font-family: Roboto;
    margin: 0.5rem;
}

#barcodeInput {
    font-size: 18px;
    width: 70%;
    text-align: center;
    border: 2px solid #FF5555;
    font-family: Roboto;
    border-radius: 4px;
    padding: 0.5rem;
    margin: 2rem;
}

#barcodeSearchButton {
    background-color: #FF5555;
    font-family: Roboto;
    border: none;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#filterButton {
    background-color: #FF5555;
    font-family: Roboto;
    border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#filterPanel {
    font-family: Roboto;
    background-color: #FF5555;
    border: none;
    margin-top: 1rem;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#closeFilter {
    color: white;

}

#buttonDiv {
    text-align: center;
}

.filterTitle {
    font-family: Roboto;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
}

.cell {
    color: white;
    padding: 0.5rem;
    text-align: left;
    cursor: pointer;
}

#filterSearchButton {
    font-family: Roboto;
    background-color: white;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.list {
    margin:1rem;
    padding: 1rem;
    background-color: white;
}
.list li {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
}
.list li:hover {
    background-color: #FF5555;
}

.productname {
    font-family: Roboto;
    font-size: large;
}

#product {
    background-color: white;
    margin-top: 3rem;
    padding: 1rem;
}

.producthead {
    width: 100%;
    overflow: hidden;
}

.producthead img {
    width: 30%;
}

.producthead > div {
    float: right;
    width: 70%;
}

#comments {
    position: relative;
}

#comments .inputbox {
    margin-right: 3rem;
}

#comments textarea {
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
}

#comments .button {
    position: absolute;
    font-family: Roboto;
    right: 0;
    padding: 1rem;
    height: 3rem;
    background-color: #FF5555;
    color: white;
    box-sizing: border-box;
}

#commentlist {
    padding-left: 0.5rem;
}

#commentlist ul {
    margin-left: 1.5rem;
    border-left: 0.25rem solid lightgrey;
    padding-left: 1.5rem;
}

#commentlist li {
    list-style-type: none;
    overflow: hidden;
}

#commentlist .avatar {
    width: 2.5rem;
    height: 100%;
    font-size: 2rem;
    color: darkgrey;
    float: left;
}

.mainPageTable {
    width: 100%;
    height: auto;
    background-color: white;
    text-align: center;
}

.cardTitle {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    padding: 0.5rem;
}

.cardImage:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

#closeBarcode {
    color: #FF5555;
}

.panelTitle {
    color: white;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 1rem;
    text-transform: uppercase;
}

.customSelect {
    position: relative;
    width: 100%;
}

.customSelect select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: transparent;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: transparent;
}

/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 0.5rem;
    /*
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
*/
    cursor: pointer;
}

/*style items (options):*/

.select-items {
    position: absolute;
    background-color: #FF5555;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.selections {
    margin: 0.5rem;
}

.container {
    color: white;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 25%;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #c43c3c;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 25%;
    top: 0%;
    width: 0.3rem;
    height: 0.6rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container .radiomark:after {
    top: 30%;
    left: 30%;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: white;
}

.radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .radiomark {
    background-color: #ccc;
}

.container input:checked ~ .radiomark {
    background-color: #c43c3c;
}

.radiomark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .radiomark:after {
    display: block;
}

.mainPageCard {
    background-color: white;
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
    font-family: Roboto;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}
